{{#>backButtonWrapper route='CHAT'}}
<div class='profile'>
    <div class='profile__avatar'>
        {{>avatar}}
    </div>

    <form class='data__rows-block profile__rows-block-details'>
        <div class='data__rows-row'>
            <label for='email' class='data__row-param'>Email</label>
            <input type='email' id='email' name='email' value={{user.email}} class='data__row-form-control'>
        </div>
        <div class='data__rows-row'>
            <label for='login' class='data__row-param'>Имя пользователя</label>
            <input type='text' id='login' name='login' value={{user.login}} class='data__row-form-control'>
        </div>
        <div class='data__rows-row'>
            <label for='first_name' class='data__row-param'>Имя</label>
            <input type='text' id='first_name' name='first_name' value={{user.first_name}} class='data__row-form-control'>
        </div>
        <div class='data__rows-row'>
            <label for='second_name' class='data__row-param'>Фамилия</label>
            <input type='text' id='second_name' name='second_name' value={{user.second_name}} class='data__row-form-control'>
        </div>
        <div class='data__rows-row'>
            <label for='display_name' class='data__row-param'>Отображаемое имя</label>
            <input type='text' id='display_name' name='display_name' value={{user.display_name}} class='data__row-form-control'>
        </div>
        <div class='data__rows-row'>
            <label for='phone' class='data__row-param'>Телефон</label>
            <input type='text' id='phone' name='phone' value={{user.phone}} class='data__row-form-control'>
        </div>

        <div class='data__rows-row data__rows-row-button'>
        {{#>button}}Сохранить{{/button}}
        </div>
    </form>
</div>
{{/backButtonWrapper}}